<div class="personal-main">
    <form class="details">
        <mat-form-field class="box" appearance="fill" required>
            <mat-label>First Name*</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="box" appearance="fill" required>
            <mat-label>Last Name*</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="box">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="box">
            <mat-label>Enter your password*</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="box" appearance="fill" required>
            <mat-label>Phone Number*</mat-label>
            <input matInput>
        </mat-form-field>
        <div class="box resume">
            <img src="../../../assets/img/Upload_black_24dp.svg">
            <strong>Upload Resume</strong>
        </div>
        <mat-form-field class="box" appearance="fill">
            <mat-label>Enter Portfolio URL (if any)</mat-label>
            <input matInput>
        </mat-form-field>
        <section class="example-section box" [formGroup]="jobRole">
            <h4>Preferred Job Roles*</h4>
            <p>
                <mat-checkbox formControlName="instructional_designer">Instructional Designer</mat-checkbox>
            </p>
            <p>
                <mat-checkbox formControlName="software_engineer">Software Engineer</mat-checkbox>
            </p>
            <p>
                <mat-checkbox formControlName="software_quality_engineer">Software Quality Engineer</mat-checkbox>
            </p>
        </section>
        <mat-label>If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You
        </mat-label>
        <mat-form-field class="box" appearance="fill">
            <input matInput>
        </mat-form-field>
        <section class="example-section">
            <mat-checkbox class="example-margin">Send me job related updates via mail</mat-checkbox>
        </section>

    </form>
    <div class="image">
        <div class="upload-picture">
            <img src="../../../assets/img/icons8-add-image-96.png">
            <strong>UPLOAD DISPLAY PICTURE</strong>
            <span>Max. image size: 5 MB</span>
        </div>
    </div>

</div>
<div class="next">
    <button mat-button>Next</button>
</div>