<div class="walkinmain">
    <div class="jobcard">
        <div class="title contentcard">Walk In for Designer Job Role</div>
        <div class="datetimelocation contentcard">
            <div class="title">Date & Time :</div>
            <div class="dateandloc">
                <span>10-Jul-2021 to 11-Jul-2021</span>
                <div class="vl"></div>
                <div class="location">
                    <img src="../../assets/img/location_on_black_24dp.svg">
                    <span>Mumbai</span>
                </div>
            </div>
        </div>
        <div class="border contentcard"></div>
        <div class="jobroles contentcard">
            <div class="title">Job Roles :</div>
            <div class="rolecontent">
                <div class="role">
                    <img src="../../assets/img/Instructional Designer.svg">
                    <span>Instructional Designer</span>
                </div>
                <div class="role">
                    <img src="../../assets/img/Software Engineer.svg">
                    <span>Software Engineer</span>
                </div>
                <div class="role">
                    <img src="../../assets/img/Software Quality Engineer.svg">
                    <span>Software Quality Engineer</span>
                </div>
            </div>
        </div>
        <div class="internship contentcard">Internship Opportunity for MCA Students</div>
        <div class="moredetails contentcard">
            <button>VIEW MORE DETAILS</button>
        </div>
    </div>
</div>