<div class="top">
    <nav class="navbar navbar-light  navbar-expand-xl ">
        <a href="#" class="navbar-brand" style="align-self: baseline;"><img
                src="../../assets/quantum_screen_assets/icons/logo used in header.svg"></a>
        <div class="d-flex flex-row order-2 order-lg-3" style="margin-top: auto;">
            <ul class="navbar-nav flex-row noncollapse">

                <!-- Check this part -->
                <div class="dropdown" (mouseover)="show(alert)" (mouseout)="hide(alert)">

                    <li class="navbar-item" style="height: 50px;">
                        <a href="#" class="nav-link"><img src="../../assets/quantum_screen_assets/icons/alerts.svg"
                                class="dropbtn"></a>
                        <span class="badge badge-light" #alertnumber id="alertnumber">{{alertsize}}</span>
                    </li>
                    <div #alert id="alert" class="dropdown-content">
                        <div id="alertdata" class="scrollable">
                            <div class="alert-content" *ngFor="let data of alertjson"
                                style="background-color: {{data.color}}">
                                <div class="box">
                                    <strong>{{data.title}}</strong> <img src="../../assets/img/{{data.image}}">
                                </div>
                                <div class="box" style="font-size:12px;margin-right:auto;margin-left:0px">
                                    <span>{{data.coursecontent}}</span>
                                </div>
                                <div class="box">
                                    <span>{{data.date}}</span>
                                </div>
                            </div>

                        </div>
                        <div class="showall">
                            <span>show all</span>
                        </div>
                    </div>

                </div>
                <!-- Till here -->


                <div class="dropdown" (mouseover)="show(notify)" (mouseout)="hide(notify)">

                    <li class="navbar-item" style="height: 50px;">
                        <a href="#" class="nav-link"><img
                                src="../../assets/quantum_screen_assets/icons/announcements.svg" class="dropbtn"></a>
                        <span class="badge badge-light">{{notifysize}}</span>
                    </li>
                    <div #notify id="notify" class="dropdown-content">
                        <div class="scroll">
                            <div class="cards" *ngFor="let data of notifyjson"
                                [ngStyle]="{'background-color':data.img==='checked.svg'?'#FFFFFF':'#FFFFEE'}">
                                <div class="name">
                                    <span>PA:
                                        <strong>{{data.title}}</strong>
                                    </span>
                                    <img src="../../assets/img/{{data.img}}">
                                </div>
                                <div class="message">{{data.content}}</div>
                                <div class="course">{{data.course}}</div>
                                <div class="files">
                                    <img src="../../assets/img/attach.png"
                                        [ngStyle]="{'display':data.attached===''?'none':'block'}"><span
                                        class="file">{{data.attached}}</span><span class="date">{{data.date}}</span>
                                </div>
                            </div>

                        </div>
                        <div class="showall">
                            <span>show all</span>
                            <div class="vl"></div>
                            <span>CREATE NEW</span>
                        </div>

                    </div>
                </div>
                <li class="navbar-item" style="align-self: center;">
                    <a href="#" class="nav-link"><img src="../../assets/img/face.png" class="face"></a>
                    <span class="badge badge-light bb" style="background-color: blue;">5</span>
                </li>
                <div class="dropdown" (mouseover)="show(navdrop)" (mouseout)="hide(navdrop)">
                    <button style="align-self: baseline;margin-bottom: 8px;" class="navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div #navdrop id="navdrop" class="dropdown-content">
                        <div class="navdropcontent" style="color: #1F7A54;">
                            <div class="menuoption"><span>Dashboard</span></div>
                            <div class="menuoption">
                                <div class="menumainoption"><span>Content</span><img src="
                                            ../../assets/img/down.png" (click)="opensuboption(coursesub)">
                                </div>
                                <div #coursesub id="coursesub" class="menusuboption">
                                    <span> COURSE CATALOG</span>
                                </div>
                            </div>
                            <div class="menuoption"><span>Users</span></div>
                            <div class="menuoption"><span>Report</span></div>
                            <div class="menuoption"><span>Admin</span></div>
                        </div>
                    </div>


                </div>

            </ul>

        </div>
        <div class="collapse navbar-collapse order-3 order-lg-2  " id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a href="#" class="nav-link bor"><span>Dashboard</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span>Content</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span>Users</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span>Reports</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span>Admin</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>