.top {
  width: 100%;
  background-color: aqua;
  height: 56px;
  border-bottom: #31b9e4 2px solid;
}

body {
  font-family: "Quicksand";
  background: #eeeeee;
}

.main {
  width: 1024px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.top {
  width: 100%;
  background-color: aqua;
  height: 56px;
  border-bottom: #31b9e4 2px solid;
}

.check {
  height: 64px;
  width: 976px;
  background-color: #8ddc97;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.section {
  width: 50%;
  display: flex;
  justify-content: center;
}

.section:first-child {
  border-bottom: #000000 solid 4px;
}

.section img {
  width: 21px;
  height: 32px;
  align-self: center;
}

.section strong {
  align-self: center;
  font-size: 24px;
  margin-left: 8px;
  margin-right: 8px;
}

.section span {
  align-self: center;
  font-size: 16px;
}

.temp {
  display: none;
}

/* this is for second setion */
.showing {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 44pxpx;
  width: 976px;
  margin-top: 26px;
}

.showing span {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  align-self: center;
}

.showing .sub {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.sub .mini {
  width: 253px;
  display: flex;
}

#course {
  outline: 0;
  border-width: 0 0 0.2px;
  border-color: lightgray;
  opacity: 1;
  padding-bottom: 0.2rem;
  margin-right: 24px;
  margin-left: 6px;
  align-self: flex-start;
  background-color: #eeeeee;
}

option:not(:checked) {
  background: #fff;
}

.mini option {
  width: 166px;
  height: 20px;
}

hr {
  width: 976px;
  height: 1px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.12;
  margin-bottom: 16px;
}

.center {
  display: grid;
  grid-row-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.block {
  width: 476px;
  height: 246px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.about {
  display: flex;
  width: 130px;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 14px;
  justify-content: space-around;
  margin-top: 32px;
}

.about span {
  font: normal normal medium 14px/18px Quicksand;
  letter-spacing: 0px;
  color: #1f7a54;
}

.about .vl {
  width: 0px;
  height: 18px;
  border: 1px solid #0000001f;
  background-color: #0000001f;
}

.footer {
  height: 40px;
  margin-top: 16px;
  margin-bottom: auto;
  background-color: #e0e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .con {
  width: 503.72px;
  height: 26.02px;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.footer .vl {
  width: 0px;
  height: 24px;
  border: 1px solid #0000001f;
}

.footer span {
  font-size: 12px;
  align-self: center;
}

.block .head {
  margin-top: 24px;
  margin-left: 24px;
  display: flex;
  margin-bottom: 16px;
}

.block .con {
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  width: 288pxpx;
  height: 157px;
}

.first {
  display: flex;
  width: 288px;
  justify-content: space-between;
}

.first span {
  font-size: 16px;
  font-weight: bold;
}

.first img {
  width: 20px;
  height: 24px;
}

.second {
  margin-top: 7px;
  display: flex;
  width: 265px;
}

.second .vl {
  width: 0.5px;
  height: 12px;
  border: 0.51px solid #0000001f;
  margin-left: 9px;
  margin-right: 8px;
  background-color: #000000;
  align-self: center;
}

.second span {
  color: #666666;
  font-size: 12px;
}

.second span:nth-child(4) {
  color: #1f7a54;
  margin-left: 2px;
}

.third {
  margin-top: 7px;
  font-size: 12px;
  width: 265px;
}

.third span {
  margin-right: 8px;
  color: #666666;
}

.fourth {
  margin-top: 18px;
}

.fourth select {
  border-width: 0 0 0.2px;
  width: 264px;
  height: 27px;
}

.fourth option {
  font-size: 16px;
}

.fifth {
  margin-top: 8px;
  display: flex;
  font-size: 12px;
  width: 100%;
  width: 265px;
}

.fifth .vl {
  width: 1px;
  height: 12px;
  border: 0.51px solid #0000001f;
  align-self: center;
  background-color: #000000;
  margin-left: 8px;
  margin-right: 8px;
}

.foot {
  display: flex;
  border-top: lightgray solid 1px;
  width: 428px;
  height: 40px;
  margin-left: 24px;
  margin-bottom: 9px;
}

.foot img:nth-child(1) {
  margin-top: 16px;
  width: 22px;
  height: 24px;
  margin-left: 24px;
}

.foot img:nth-child(2) {
  margin-left: 101px;
  margin-right: 102px;
  margin-top: 18px;
  width: 18px;
  height: 20px;
}

.foot img:nth-child(3) {
  margin-top: 18px;
  width: 18px;
  height: 20px;
}

.foot img:nth-child(4) {
  margin-top: 18px;
  width: 18px;
  height: 24px;
  margin-left: 101px;
  margin-right: 48px;
}

.block:nth-child(2) .fourth {
  opacity: 0.5;
}

.block:nth-child(2) .blur {
  opacity: 0.5;
}

.block:nth-child(3) .blur {
  opacity: 0.5;
}

.block:nth-child(4) .head {
  margin-top: 5px;
}

.exp {
  width: 52px;
  height: 18px;
  font-size: 10px;
  background-color: #ffe4e6;
  color: #d80000;
  text-align: center;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 315px;
  max-height: 582px;
  right: 5px;
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content .scroll {
  height: 534px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cards {
  width: 315px;
  min-height: 114px;
  display: flex;
  flex-direction: column;
  color: black;
  border-bottom: 0.1px solid lightgray;
}

.cards .name {
  display: flex;
  margin-right: 8px;
  font-size: 12px;
}

.name span {
  color: black !important;
}

.cards .name img {
  margin-left: auto;
  width: 15px;
  height: 18px;
}

.cards .message {
  margin-top: 8px;
  margin-right: 8px;
  width: 254px;
  overflow-y: auto;
  font-size: 14px;
  font-weight: bold;
}

.cards .files {
  margin-top: 8px;
  font-size: 12px;
  display: flex;
  margin-right: 8px;
}

.cards .files img {
  width: 6px;
  height: 13px;
  margin-right: 4px;
}

.cards .files span {
  font-size: 12px;
  color: #6e6e6e;
}

.cards .date {
  text-align: right;
  margin-left: auto;
}

.cards .course {
  font-size: 12px;
  color: #6e6e6e;
  margin-top: 8px;
  margin-right: 8px;
}

.dropdown-content .cards {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

.showall {
  width: 315px;
  height: 48px;
  display: flex;
  text-transform: uppercase;
  justify-content: space-evenly;
}

.showall span {
  align-self: center;
  font-size: 14px;
}

.showall .vl {
  width: 0px;
  height: 30px;
  border: 1px solid #0000001f;
  background-color: #0000001f;
  align-self: center;
}

.dropdown-content .scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 534px;
}

.scrollable .alert-content {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 8px;
  border-bottom: 0.1px solid lightgray;
}

.scrollable .alert-content .box {
  display: flex;
  margin-top: 8px;
}

.scrollable .alert-content .box:first-child {
  margin-top: 0px;
}

.alert-content .box strong {
  font-size: 14px;
  width: 250px;
}

.alert-content .box span {
  color: #6e6e6e;
}

.alert-content .box img {
  width: 15px;
  height: 18px;
  margin-left: auto;
}

.alert-content .box:last-child {
  padding-bottom: 8px;
}

.alert-content .box:last-child span {
  margin-left: auto;
  font-size: 12px;
}

.alert-content .box span strong {
  font-size: 12px;
  color: black;
}

.dropdown .dropdown-content .menuoption {
  min-height: 48px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #1f7a54;
}

.menuoption .menumainoption {
  display: flex;
  font-size: 14px;
}

.menuoption .menumainoption span {
  color: #1f7a54;
  font-size: 14px;
  text-transform: uppercase;
}

.menuoption .menumainoption img {
  width: 12px;
  height: 24px;
  margin-left: auto;
}

.menuoption .menusuboption {
  min-height: 48px;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  display: none;
  color: #1f7a54;
}

.navdrop-content .menuoption .menumainoption {
  color: #3fd28b;
  text-transform: none;
}

/* nav */
.top {
  height: 56px;
  background-image: url("../../assets/img/image4.PNG");
}

.navbar-brand img {
  width: 134px;
  height: 36px;
}

.face {
  margin-top: 5px;
  width: 32px;
  height: 32px;
}

.navbar-nav span {
  color: #3fd28b;
}

.navbar {
  height: 56px;
}

.navbar-nav {
  height: 56px;
}
.navbar-nav .navbar-item {
  align-self: center;
}

.navbar-collapse {
  height: 56px;
}

.bor {
  border-bottom: 4px solid white;
}

.navbar-item:nth-child(6) {
  margin-top: 10px;
}

.navbar-item:nth-child(7) {
  margin-top: 10px;
}

.badge {
  position: relative;
  top: -41px;
  right: -20px;
  border: 1px solid blue;
  background-color: blue;
  border-radius: 50%;
}

.bb {
  background-color: #fff;
}

.navbar-expand-lg .navbar-collapse {
  margin-top: auto;
}

@media (max-width: 1024px) {
  #course {
    margin-top: 10px;
  }

  .main {
    width: 768px;
  }

  .top {
    height: 56px;
    background-color: aqua;
  }

  .center {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .check {
    width: 720px;
    height: 64px;
  }

  .showing {
    width: 720px;
    height: 45px;
  }

  hr {
    width: 720px;
    height: 1px;
  }

  .footer {
    margin-top: 16px;
    width: 768px;
    height: 40px;
  }

  .noncollapse {
    width: 250px;
    justify-content: space-between;
  }
}/*# sourceMappingURL=header.component.css.map */