.main {
  top: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  /* width: 1024px; */
  height: 798px;
  background: #eeeeee 0% 0% no-repeat padding-box;
}

.center {
  margin-top: 50px;
  height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0e1e1;
}
.blue {
  width: 488px;
  height: 4px;
  background: #3ac7ec 0% 0% no-repeat padding-box;
  border-radius: 2px 2px 0px 0px;
  opacity: 1;
}
.form {
  padding-top: 20px;
  height: 583px;
  width: 488px;
  background-color: white;
}
.loginbox {
  width: 424px;
  display: flex;
  margin-left: 32px;
  margin-left: 32px;
  margin-bottom: 34px;
}
.loginbox > img {
  transform: rotate(270deg);
  justify-self: flex-start;
  align-self: center;
  width: 17px;
  height: 26px;
}
.loginbox > h1 {
  width: 236px;
  height: 30px;
  margin-left: 77px;
  font-size: 24px;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}

.box input {
  width: 20px;
  height: 24px;
  vertical-align: middle;
  border-color: #1f7a54;
}
.box:nth-child(2) {
  margin-left: 2rem;
}
.box span {
  font-size: 16px;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.loginbox select {
  outline: 0;
  border-width: 0 0 0.2px;
  border-color: lightgray;
  opacity: 1;
  padding-bottom: 0.2rem;
  font-size: 16px;
}
.loginbox label {
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: #666666;
  opacity: 1;
  margin-bottom: 0.5rem;
}

.textbox {
  display: flex;
  flex-direction: column;
}
.textbox {
  input {
    outline: 0;
    border-width: 0 0 0.2px;
    width: 423px;
    height: 25px;
    padding-bottom: 4px;
  }
}
.textbox {
  label {
    margin-top: 5px;
    align-self: flex-end;
    color: #1f7a54;
    text-transform: uppercase;

    font: normal normal medium 14px/18px Quicksand;
  }
}

.pass {
}
.pass input {
  background: url("../../assets/quantum_screen_assets/icons/preview.svg")
    no-repeat;
  background-position: right;
}

.checkbox span {
  align-self: center;
  font-size: 16px;
  color: #1f7a54;
}
.checkbox input {
  width: 18px;
  height: 24px;
}
.sixth {
  margin-top: 34px;
  display: flex;
  justify-content: center;
}
.sixth input {
  width: 216px;
  height: 40px;
  background: #3fd28b 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #0000003d;
  opacity: 1;
  border: 0cm;
}

@media (max-width: 768px) {
  .footer {
    width: 768px;
    height: 40px;
    margin-top: 16px;

    background-color: #e0e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    top: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    height: 1024px;
    background: #eeeeee 0% 0% no-repeat padding-box;
  }
  .top {
    margin-bottom: auto;
    display: flex;
    background-image: url("../../assets/quantum_screen_assets/icons/logo used in footer.svg");
    width: 768px;
    height: 56px;
  }
  .about {
    display: flex;
    width: 130px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 258px;
    font-size: 14px;
    justify-content: space-around;
  }
}
